.grillita {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgba(51, 121, 153, 0.644);
    padding: 25px;
    margin-left: 0%;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
  }
  
  .filita {
    display: flex;
    margin-bottom: 4px;
  }
  
  .celdita-contenedor {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: transparent;
    /* border: 1px solid black; */
    height: 50px;
  }

  .celdita-ocupada {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fc0000;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    height: 38px;
    width: 35px;
  }
  .celdita-libre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #6aa4b3;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    height: 38px;
    width: 35px;
  }

  .celdita-reservada {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #13ff87;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    height: 38px;
    width: 35px;    
  }

  .celdita-deshabilitada {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #000000;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    height: 38px;
    width: 35px;    
  }
  .textito {
    margin-right: 4px;
    text-align: start;
    font-size: 1.2rem;
  
    margin-left: 20px;
  }
  