.parqueo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #000000; /* negro */
    background-image: linear-gradient(to bottom, #000000, #0000FF, #ee0c0c);
  margin-bottom: 10px;
}
  

  .grillaTop {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: auto;
    height: auto;
    background-color: #000000; /* negro */
    background-image: linear-gradient(to bottom, #000000, #0000FF, #ee0c0c);
    border: 7px solid #000000;
    padding: 2px;
  }
  .grillaBot {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: auto;
    height: auto;
    background-color: #000000; /* negro */
    background-image: linear-gradient(to bottom, #000000, #0000FF, #ee0c0c );
    border: 7px solid #000000;
    padding: 2px;
  }

  
  .celda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b8010100;
    color: #00000000;
    border: 1px solid #f1f1f100;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    height: 35px;
    width: 30px;
  }
  
  .celda:hover {
    border-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    color:rgba(255, 255, 255, 0);

  }

  .fila-titulo {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #29acdbb8;
    
  }


  .estado-ocupado {
    background-color: red;
    color:transparent
  }
  
  .estado-libre {
    background-color:#6aa4b3;
    color:transparent
  }
  
  .estado-reservado {
    background-color: #13ff87;
    color:transparent
  }