.split-screen {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .split-screen-left {
    flex: 4;
    background-color: rgba(130, 194, 194, 0.1); /* Color con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .split-screen-right {
    flex: 3;
    background-color: rgba(130, 194, 194, 0.1); /* Color con transparencia */
    display: flex;
    flex-direction: column; /* Agregar dirección de columna */
  }
  
  .split-screen-top {
    flex: 1; /* Ocupa una tercera parte */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 194, 194, 0.1); /* Color con transparencia */
  }
  
  
  .split-screen-bottom {
    flex: 2; /* Ocupa dos terceras partes */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 194, 194, 0.1); /* Color con transparencia */
  }
  

  .centered-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 119, 101);
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }

  h2 {
    color: rgb(255, 255, 255); /* Cambiar color del texto */
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
  }
  