.user-info {
  position: relative;
  justify-items: end;
  left: 90%;

}

.user-details {
  align-items: start;
  align-content: flex-start;
  top: 100%;
  left: 0;
  background-color: rgb(138, 159, 187);
  padding:10px;
  border: 1px solid rgb(0, 0, 0);
}

