.user-info {
  position: relative;
  justify-items: end;
  left: 90%;

}

.user-details {
  align-items: start;
  align-content: flex-start;
  top: 100%;
  left: 0;
  background-color: rgb(138, 159, 187);
  padding:10px;
  border: 1px solid rgb(0, 0, 0);
}

img {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* El alto se ajustará proporcionalmente */
  margin-left: 14%;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
	height: 100vh;
    width: 100%;
	background-image: url('../fondo2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  }
  
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.838);
	color: #000000;
	text-align: center;
}

th {
	text-align: center;
	background-color: red;
}

.titulos{
	color: rgb(241, 241, 241); /* Cambiar color del texto */
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}