@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    color: #000;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    background-color: #f6f6f6;
}

.TComunicados{
    font-size: 30px;
}

.comunicado{
    color: #fff;
}

/*input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #5b08a7;
}*/

/*.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}*/

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: center;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/*login remake*/

.nav{
    position: fixed;
    padding-top: 2%;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.nav_logo,
.button{
    color: #fff;
}

.nav_logo{
    font-size: 25px;
    padding-left: 5%;
}

a{
    text-decoration: none;
}

/*fondo del login*/
.fondo,
.fondo_signup{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../images/est.jpg");
    background-size: cover;
    background-position: center;
}

.button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}

.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h1{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 45px;
    width: 100%;
    height: 40px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    border-bottom: 1.5px solid #0b0217;
}

.input_box span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #0b0217;
}

.input_box input:focus ~ span.email,
.input_box input:focus ~ span.password{
    color: #5f77de
}
.input_box span.email,
.input_box span.password{
    left: 0;
}

.input_box span.visibility_off{
    right: 0;
    font-size: 18px;
}

.form_container .btn-block{
    background: #5f77de;
    font-size: 15px;
    color: #FFF;
    margin-top: 30px;
    margin-left: 55px;
    width: 60%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
}

.message{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
/* Login/Signup forms*/
.form_containerR{
    position: absolute;
    max-width: 430px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.form_containerR h1{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.form_containerR .btn-block{
    background: #5f77de;
    font-size: 15px;
    color: #FFF;
    margin-top: 30px;
    margin-left: 83px;
    width: 60%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
}

.input_boxR{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.input_boxR input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    border-bottom: 1.5px solid #0b0217;
}

.input_boxR span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #0b0217;
}

.input_boxR input:focus ~ span.email,
.input_boxR input:focus ~ span.password{
    color: #5f77de
}
.input_boxR span.email,
.input_boxR span.password,
.input_boxR,span.person{
    left: 0;
}

.input_doble span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #0b0217;
}

.input_doble span.persona{
    left: 0;
}

.input_doble span.persona1{
    left: 52%;
}


.input_boxR span.visibility_off{
    right: 0;
    font-size: 18px;
}

.input_doble{
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 40px;     
}

.input_field{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    border-bottom: 1.5px solid #0b0217;
}


/*.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}*/

/* Login/Signup form */

/*Formulario para agregar guardia*/

.inputGuardia{
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 40px;
}

.inputGuardia input{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.formGuardia{
    position: absolute;
    max-width: 310px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-save,
.btn-back{
    margin-top: 8px;
    margin-right:8px;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
    color: #000000;
}
.btn-save {
    background-color: #00a762;
}
.btn-back {
    background-color: #b72424;
}

/*Formulario para agregar usuario*/

.formUser{
    position: absolute;
    max-width: 310px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.inputUser{
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 40px;
}

.inputUser input{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.btn_User{
    margin-top: 8px;
    margin-right:8px;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
    color: #000000;
}

.btn_User {
    background-color: #00a762;
}

#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #110ecea7;
    padding: 1rem
    
}

#defaultLayout aside.aside-administrador {
    background-color: black;
  }
  
  #defaultLayout aside.aside-guardia {
    background-color: #000000; /* negro */
    background-image: linear-gradient(to bottom, #000000, #0000FF, #ee0c0c); /* degradé entre negro, azul y rojo */
  }
  
  


#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    background: black;
    margin-top: 10px;
}

#defaultLayout aside > a:focus {
  background-color: rgb(23, 127, 175); /* Color de resaltado para la ruta activa */
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 50px;
    padding: 1rem 3rem;
    background-color: rgba(69, 161, 173, 0.774);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}


.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}